<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Spell Store</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Cauldron</a></li>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Account</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#">Charm</a></li>
                    <li><a href="#">Transfiguration</a></li>
                    <li><a href="#">Hex</a></li>
                    <li><a href="#">Jinx</a></li>
                    <li><a href="#">Curse</a></li>
                    <li><a href="#">Healing Spell</a></li>
                    <li><a href="#">Protective Enchantment</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <ui-view>
    </ui-view>
    <footer>
        <div class="footer navbar-fixed-bottom">
            <h3>Contact Us:</h3>
            <p>Spell Store, LLC</p>
            <p>110 Diagon Alley</p>
            <p>spell_store@magic.com</p>
        </div>
    </footer>
</body>
</html>
