<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Spell Store</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp" ng-controller="MainCtrl">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="navbar-header">
                        <a class="navbar-brand" ui-sref="home" id="nav-store-name">Spell Store</a>
                    </div>
                </div>
                <div class="col-md-8">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="!currentUser"><a ui-sref="login">Log in</a></li>
                        <li ng-show="currentUser" ng-click="logout()"><a>Log out</a></li>
                        <li><a ui-sref="cart">My Cauldron</a></li>
                        <li ng-show="currentUser"><a href="#">My Account</a></li>
                        <li ng-show="currentUser.isAdmin"><a ui-sref="adminView.manageUsers">Admin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default" id="category-navbar">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li>
                         <form class="navbar-form" name="searchBar" ng-submit="submitSearch()">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search for Spells!" ng-model="searchString" ng-keypress="changeState()">
                            </div>
                        </form>
                    </li>
                    <li><a ui-sref="allProducts">All Spells</a></li>
                    <li><a ui-sref="singleCategory({category: 'Charm'})">Charm</a></li>
                    <li><a ui-sref="singleCategory({category: 'Transfiguration'})">Transfiguration</a></li>
                    <li><a ui-sref="singleCategory({category: 'Hex'})">Hex</a></li>
                    <li><a ui-sref="singleCategory({category: 'Jinx'})">Jinx</a></li>
                    <li><a ui-sref="singleCategory({category: 'Curse'})">Curse</a></li>
                    <li><a ui-sref="singleCategory({category: 'Healing Spell'})">Healing Spell</a></li>
                    <li><a ui-sref="singleCategory({category: 'Protective enchantment'})">Protective Enchantment</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <ui-view>
    </ui-view>
    <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a>“It's Levi-O-sa, not Levio-SAH.”</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Spell Store, LLC</a></li>
                <li><a>5 Diagon Alley</a></li>
                <li><a>spellstore@magical.me</a></li>
            </ul>
        </div>
    </nav>
    </footer>
</body>
</html>
