#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}

body {
  background: #fdfdfd; 
  padding-bottom: 75px;
}


.spell-category-img img {
    display: block;
    margin: auto;
    width: 60%;
}

.spell-category-img {
  margin-top: 20px;

}


#herobanner {
  width: 90%;
  margin: 0 auto;
}