body {
  background: #fdfdfd; 
  padding-bottom: 75px;
}

@font-face {
    font-family: 'lumoslatinoregular';
    src: url('../fonts/lumoslatino-webfont.woff2') format('woff2'),
         url('../fonts/lumoslatino-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3 {
  font-family: 'lumoslatinoregular', serif;
}

#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}

#herobanner {
  width: 100%;
}


.spell-category-img img {
  max-width: 100%;
}

.spell-category-img {
  margin-top: 20px;

}

