<div class="container" ng-controller="CartCtrl">
    <div class="row">
        <div class="col-lg-3 spell-category-img">
            <img src="{{product.photo}}"></img>
        </div>
        <div class="col-lg-9">
            <h2>{{product.title}}</h2>
            <p>{{product.category}}</p>
            <p>{{product.description}}</p>
            <p>Price: {{product.price}} Knuts</p>
            <form>
                <label for="productQty">Qty:</label>
                <select name="productQty" ng-model="productQty">
                    <option ng-repeat="n in [1, 2, 3, 4, 5]">{{n}}</option>
                </select>
                <button ng-click="addToCart()">Add to your cauldron</button>
            </form>
        </div>
    </div>
</div>

<!-- <div class="row">

        <div class="col-lg-1"></div>
        <div class="col-lg-4">
        	<h2>{{product.title}}</h2>
                <p>{{product.category}}</p>
        	<p>{{product.description}}</p>
                <p>Price: {{product.price}} Knuts</p>
                <button>Purchase</button>
        </div>
</div> -->
