<div class="container" ng-controller="CartCtrl">
    <div class="row">
        <div class="col-md-3 spell-category-img">
            <img src="{{product.photo}}"></img>
        </div>
        <div class="col-md-9">
            <h2>{{product.title}}</h2>
            <p>Category: {{product.category}}</p>
            <p>{{product.description}}</p>

            <p>Price: 
            <!-- product.price is the cost in Knuts. The same value is
            expressed below in Galleons, Sickles, and Knuts. If you need to 
            do this elsewhere in JavaScript rather than in Angular interpolation,
            the value of k Knuts is:
                Math.floor(k/493) Galleons,
                Math.floor((k % 493)/29) Sickles,
                and (k % 493)%29 Knuts. -->
            {{product.price/493 | number:0}} Galleon[s],
            {{(product.price%493)/29 | number:0}} Sickle[s], and
            {{((product.price) % 493) % 29}} Knut[s]</p>
            <form ng-submit="addToCart()">
                <label for="productQty">Qty:</label>
                <select name="productQty" ng-model="productQty">
                    <option ng-repeat="n in [1, 2, 3, 4, 5]">{{n}}</option>
                </select>
                <button type="submit">Add to Cauldron</button>
            </form>
        </div>
    </div>
</div>

<!-- <div class="row">

        <div class="col-lg-1"></div>
        <div class="col-lg-4">
        	<h2>{{product.title}}</h2>
                <p>{{product.category}}</p>
        	<p>{{product.description}}</p>
                <p>Price: {{product.price}} Knuts</p>
                <button>Purchase</button>
        </div>
</div> -->
