* {
  box-sizing: border-box;
}


@font-face {
    font-family: 'lumoslatinoregular';
    src: url('../fonts/lumoslatino-webfont.woff2') format('woff2'),
         url('../fonts/lumoslatino-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  background: #fdfdfd;
  overflow-y: scroll;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

.navbar {
  margin-bottom: 0;
}

#category-navbar {
  ul {
  padding-left: 30px;
  padding-right: 30px;
  }
  a {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.admin-navbar {
  ul {
    padding-left: 60px;
    padding-right: 30px;
  }
  a {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
